@import './variables';
@import "./sidebar";
@import "./init";
@import './mixin';





#nprogress {
  .bar {
    z-index: 3001!important;
    background: $--color-primary!important; //颜色可修改
  }
  .spinner {
    z-index: 3001!important;
  }
}
p {
  color: $--color-text-primary
}
.card {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
  border-radius: 3px
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 122px);
}
